// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[v-loack] {
  display: none !important;
}

.btn-purple,
.btn-purple:hover, 
.btn-purple:focus { 
	color: #ffffff; 
	background-color: #805EAD; 
	border-color: #130269; 
} 

.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
	color: #ffffff; 
	background-color: #684D8C; 
	border-color: #130269; 
} 

.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
	background-image: none; 
} 

.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
	background-color: #805EAD; 
	border-color: #130269; 
} 

.btn-purple .badge { 
	color: #805EAD; 
	background-color: #ffffff; 
}

.btn-darkblue {
  color: #fff;
  background-color: #313ba9;
  border: 1px solid #202bad;
  &:hover {
    color: #fff;
  }
}

.btn-pink {
  color: #fff;
  background-color: #dc78d9;
  border: 1px solid #ab6caf;
  &:hover {
    color: #fff;
  }
}

.login-page {
	background: url('/img/game_bg.jpg') center top repeat-y;
	height: 600px;

	form {
		text-align: center;
		margin-top: 200px;
		opacity: 0.8;
	}
}

.game-page {
	background: url('/img/game_bg.jpg') center top repeat-y;
}

.area {
	padding: 10px 10px;
	margin: 10px 0;
}

.logo {
	width: 200px;
	margin: 0 auto;

	img {
		width: 200px;
	}
}

.nav {
	position: absolute;
	top: 25px;
	width: 93%;
	line-height: 34px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;

	.logout {
		color: #ccc;
	}
}

.progress {
	height: 5px;
}

#info {
	border-radius: 15px 15px 0 0;
	background-color: rgb(250, 235, 215);
	background-color: rgba(250, 235, 215, 0.5);
}

#check-role-dialog {
	.role {
		font-weight: bold;
		color: #e61713;
		font-size: 20px;

		a {
			color: #e61713;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.role-img {
		text-align: center;
		margin: 20px;

		img {
			height: 246px;
			width: 173px;
		}
	}
}

#ope-panel {
  font-weight: bold;
  margin-top: -10px;

  .tip-panel {
    border-radius: 0 0 15px 15px;
    background-color: rgb(250, 235, 215);
    background-color: rgba(250, 235, 215, 0.5);
    text-align: center;

    .tips {
      font-size: 18px;
      height: 50px;
      line-height: 25px;
      color: #a94442;
    }

    .panel-buttons {
      height: 34px;
      & a {
        margin: 0 5px;
      }
    }
  }

  .player-panel {
    color: #fff;
  }
}

.notice {
	height: 50px;
	padding: 15px;

	.status, .setting {
		display: inline-block;
	}

	.status {
		font-size: 16px;
	}
}

.rest {
	text-align: center;
}

.player {
	display: inline-block;
	width: 48%;
	margin: 10px 0;

	a.btn {
		width: 60px;
		color: #fff;
		background-color: #5bc0de;
		border: 1px solid #46b8da;

		&[status=dead] {
			color: #666 !important;
			background-color: #cdcdcd !important;
			border: 1px solid #666 !important;
		}
    &[status=disable] {
      color: #666 !important;
      background-color: transparent !important;
      border: 1px solid #666 !important;
    }
    &[status=selected] {
      color: #000 !important;
      background-color: #fff !important;
      border: 1px solid #ccc !important;
    }
    &[status=kill] {
      background-color: #d9534f;
      border: 1px solid #d43f3a;
    }
    &[status=kill_more] {
      background-color: #d9534f;
      border: 1px solid #d43f3a;
    }
    &[status^=prescribe] {
      background-color: #805EAD;
      border: 1px solid #684D8C;
    }
    &[status=check] {
      background-color: #f0ad4e;
      border: 1px solid #eea236;
    }
    &[status=guard] {
      background-color: #5cb85c;
      border: 1px solid #4cae4c;
    }
    &[status=exchange] {
      background-color: #dc78d9;
      border: 1px solid #ab6caf;
    }
    &[status=link] {
      background-color: #805EAD;
      border: 1px solid #684D8C;
    }
    &[status=stargaze] {
      background-color: #313ba9;
      border: 1px solid #202bad;
    }
    &[status=shoot] {
      background-color: #d9534f;
      border: 1px solid #d43f3a;
    }
    &[status=battle] {
      background-color: #337ab7;
      border: 1px solid #2e6da4;
    }
    &[status=destruct] {
      background-color: #d9534f;
      border: 1px solid #d43f3a;
    }
    &[status=vote] {
      background-color: #f0ad4e;
      border: 1px solid #eea236;
    }
    &[status=throw] {
      background-color: #337ab7;
      border: 1px solid #2e6da4;
    }
	}

	&.player-right-side {
		text-align: right;
	}
}
